# Tools For Data Science - Final Assignment

### Author - Tom Yemen

### Introduction

This notebook will summerize common programing languages, tools, and example python code used in data science.

### Objectives

- List common data science programming languages.
- List common data science programming libraries.
- Show table of common Data Science tools.
- Introduce arithmetic expression examples.

### Here is a list of common data science programming languages

- Python
- R
- SQL
- Scala
- Java
- C++
- Julia

JavaScript, PHP, Go, Ruby, and Visual Basic also have their applications for data science.

### Here is a list of common data science programming libraries

- Pandas
- Numpy
- Matplotlib
- Seaborn
- Scikit-learn
- Keras
- Tensorflow
- Pytorch
- Apache Spark
- Vegas
- bigDL
- ggplot2

### Here is a table containing common data science tools


| Data Management |  Data Integration and Transformation | Data Visualization | Model Deployment | Model Montioring | Code Asset Management | Data Asset Management |
|-----------------|--------------------|--------------------|------------------|------------------|-----------------------|-----------------------|
| MySQL | Apache AirFlow | Pixie Dust | Apache PredictionIO | ModelDB | Git | Apache Atlas |
| PostgreSQL | KubeFlow | Hue | Seldon | Prometheus | GitHub | ODPi Egeria |
| MongoDB | Apache Kafka | Kibana | Apache Superset | Kubernetes | IBM AI Fairness 360 | | GitLab | Kylo |
| Apache CouchDB | Apache Nifi | | Redhat OpenShift | IBM Adversarial Robustness 360 Toolbox | Bitbucket | |
| Apache Cassandra | Apache SparkSQL | | Mleap | IBM AI Explainability 360 | | |
| Hadoop File System | NodeRED | | TensorFlow Service | | | |
| Ceph | | | TensorFlow Lite | | | |
| Elastic Search | | | TensorFlow dot JS | | | |

### Using code blocks in Jupyter Notebooks

The advantage of using Jupyter Notebooks is that you can use text, images, and code all in one place.
In the python code blocks below we will review some basic arithmetic expression examples.

In [7]:
# Setting Variables and arithmatic expressions
a = 1
b = 2
x = a + b
y = x * b

# Printing the output
print('a = 1')
print('b = 2')
print('x = a + b')
print('y = x * b')
print('x = ',x)
print('y = ',y)

a = 1
b = 2
x = a + b
y = x * b
x =  3
y =  6

In [10]:
# Converting Hours to Minutes

Total_Minutes = 396
print('Total Minutes = ',Total_Minutes)

# Convert to whole hours using floor division
Total_Whole_Hours = Total_Minutes // 60
print('Total Whole Hours = ',Total_Whole_Hours)

# Convert to decimal hours
Total_Decimal_Hours = Total_Minutes / 60
print('Total Decimal Hours = ',Total_Decimal_Hours)

Total Minutes =  396
Total Whole Hours =  6
Total Decimal Hours =  6.6